
$color: #b9e7e7;

.app {
    height: 100vh;
    .container {
        height: 100%;
        //LOGIN & REGISTER
        .auth {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $color;
            height: 100%;

            h1 {
                font-size: 2rem;
                color: teal;
                margin-bottom: 1rem;
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: ;
                width: 100%;
                input {
                    width: 100%;
                    margin: 0.5rem 0;
                    padding: 0.5rem;
                    border: 1px solid teal;
                    border-radius: 5px;
                }
                button {
                    width: 100%;
                    margin: 0.5rem 0;
                    padding: 0.5rem;
                    border: 1px solid teal;
                    border-radius: 5px;
                    background-color: teal;
                    color: white;
                    cursor: pointer;
                }
            }
            
        }
    }
}