
$color: aqua;

.app {
    .container {
        //LOGIN & REGISTER
        .auth {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color;
            height: 100vh;
        }
    }
}
.app{
    .container{

        //LOGIN & REGISTER
        .auth{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: aqua;
            height: 100vh;
        }
    }
}